<?xml version = "1.0"?>
<!--
EnterpriseBrowser_v3.0.6.0 Configuration file
-->
<Configuration>
   <EB_VERSION value="3.0.6.0"/>
  <HideSystemBar value ="1"/> 
  <DebugButtons>
    <DebugButtonsEnabled value="0" />
  </DebugButtons>
  
  <Diagnostic>
    <WebPageCapture value="0"/>
  </Diagnostic> 
  
  <WebFiltering>
	<WebFilteringEnabled value="0"/>
	<WhiteListingUrls value=""/>
	<BlackListingUrls value=""/>
  </WebFiltering>
	
  <DebugSetting>
    <DebugModeEnable value="1"/>
  </DebugSetting> 
	
 

  <Shortcut>
    <ShortcutCreationEnabled value="0"/>
  </Shortcut>
  
  <CustomKioskMode>
	<setHomeKeyDisable	value ="0"/>
	<setStatusBarDisable 	value ="0"/>
	<setBackKeyDisable 	value ="0"/> 
	<setVolumeButtonDisable 	value ="0"/>
	<setRecentAppDisable    value ="0"/>
  </CustomKioskMode>
  <IME>
	<DisableAllIME value ="0"/>
  </IME>
  <ZoomKey>
    <ZoomInKey value=""/> 
    <ZoomOutKey value=""/> 
  </ZoomKey>
  
  <Logger>
    <LogProtocol   value="FILE"/>
    <LogPort       value="80"/>
    <LogURI        value="file://%INSTALLDIR%/Log.txt"/>
    <LogError      value="1"/>
    <LogWarning    value="1"/>
    <LogInfo       value="1"/>
    <LogTrace      value="0"/>
    <LogUser       value="0"/>
    <LogMemory     value="0"/>
    <LogMemPeriod  value="5000"/>
    <LogMaxSize    value="5000"/>
  </Logger>
    
  <FileLocations>
    <RegEXFile  value="file://%INSTALLDIR%/RegEx.xml"/>
	<buttonxmlfile value="file://%INSTALLDIR%/android_sap/EKBCustomLayouts.encrypted" />
	<customxmlfile  value="file://%INSTALLDIR%/android_sap/CustomScript.xml"/>
	<keycodemappingxmlfile value="file://%INSTALLDIR%/android_sap/keycodemapping.xml"/>
  </FileLocations>
      
  <Screen>
    <FullScreen value="1"/>
	<PageZoom value="1.0" />
	<EnableZoom value="1"/>
	<DisplayZoomControls value="0"/>
  </Screen>
  
 
	
  <TTS>
    <TTSEnabled value="1"/>
    <WelcomeText value="Zebra S.A.P"/>
  </TTS>
  
  <InjectEBLibraries>
	<JSLibraries value="1"/>
  </InjectEBLibraries>
  
  <SplashScreen>
	<SplashScreenPath value="file://%INSTALLDIR%/rho/apps/app/loading.png"/>
	<SplashScreenDuration value="0"/>
  </SplashScreen>
  
  <WakeLock>
    <WakeLockType value=""/>
  </WakeLock>
 
 
   
  <DeviceKeys>
  </DeviceKeys>
  
  <Navigation>
    <NavTimeout value="45000"/>
  </Navigation>

  <ScreenOrientation>    
	<LockOrientation value= "Auto"/>
  </ScreenOrientation>
 
  <TabInstance>
    <NewTabPhysicalMemLimit value="90"/>
    <NewTabVirtualMemLimit value="80"/>
  </TabInstance>
  
  <Engine>
    <EngineInUse value="AndroidStock"/>
  </Engine>
  
  <Applications>
    <Application>
      
      <HTTP_Proxy value=""/>
      <HTTPS_Proxy value=""/>
      <isWindowsKey  value="0"/>

      <DisableHardwareAcceleration value="0"/>
	  
	  <BackgroundOnHomeKeyPressed>
		<ClearWebData value="0"/>
		<NavigateToHomePage value="0"/>	  
	  </BackgroundOnHomeKeyPressed>
	  
			<usedwforscanning value="1" />
			<IntentReceiver>
				<EnableReceiver value="1"/>
				<IntentAction value="com.zebra.ebprofilescan.ACTION"/>
				<IntentCategory value=""/>
			</IntentReceiver>
	  
      <General>
        <Name value="Menu"/>
        <StartPage value="https://cxnt48.com/examples/eb_dom_inj_landingpage.html" name="Menu"/>
      </General>
      
      <Scanner>
        <DisableScannerDuringNavigation value="1"/>
      </Scanner>
	  
	  <ApplicationCache>
	    <ApplicationCacheEnabled value="1"/>
		<ClearApplicationCacheOnLaunch value="0"/>	
        <ClearApplicationCacheOnExit value="0"/>		
      </ApplicationCache>
      
	
      
      <HTMLStyles>
        <JavascriptEnabled value="1"/>
		<DatabaseEnabled value="1"/>
		<DomStorageEnabled value="1"/>
		<GeoLocationEnabled	value="0"/>
        <FontFamily value="Droid Sans Fallback"/>
		<BackgroundColor value=""/>
      </HTMLStyles>
      
      <SIP>
        <ResizeOnSIP  value="1"/>
		<ResizeOnButtonbar value="1"/>
		<ButtonBarMaxHeight value="default"/> 
      </SIP>
	  <KeyboardConfiguration>
		<KeyboardType  value="enterprisekeyboard"/>
		<KeyboardVisibility value="onDemand"/>
        <ondemand>
           <onHardwarekeypress value="1"/>
           <HardwarekeyValue value="140"/>
           <onFocus value="1"/>
        </ondemand>	  
	  </KeyboardConfiguration>
	  <SapCustomization> 
		<customcssfile value="file://%INSTALLDIR%/android_sap/sapstyle.txt"/>
		<SapButtonHeight value=""/>
		<SapButtonFontSize value=""/> 
		<SapForceFitToScreen value="0"/> 
		<MobileEditDisabledWidth value="auto"/>
	  </SapCustomization>


      <System>
        <LowBatteryScan  value="0"/>
      </System>

      <Sound>
        <DecodeVolume           value=""/>
        <DecodeFrequency        value=""/>
        <InvalidDecodeFrequency value="0x9C4"/>
        <DecodeDuration         value=""/>
        <ScanDecodeWav          value=""/>
        <ScanInvalidWav         value=""/>
        <ImagerCaptureWav       value=""/>
      </Sound>
      
      <GUI>
        <SignalRefresh      value="5000"/>
        <BatteryRefresh     value="5000"/>
        <HourglassEnabled   value="1" />
        <HourglassLeft      value="" />
        <HourglassTop       value="" />
      </GUI>
      
      <Navigation>
        <BadLinkURI value="file://%INSTALLDIR%/badlink.html"/>
        <UserAgent value="" />
		<NetworkCookieDatabase value="file://%INSTALLDIR%/cookies.db"/>
		<VerifyPeerCertificate value="1"/>
    	<Cookies value="1"/>		
		<ThirdPartyCookies value="0"/>
		<DeleteCookiesOnLaunch value="1"/>
		<DeleteCookiesOnExit value="0"/>
		<SaveFormData value="0"/>
	    <SetCacheMode value="LOAD_DEFAULT"/>
		<DeleteCacheOnLaunch value="0"/>
		<DeleteCacheOnExit value="0"/>
		<BlockNetworkImage value="0"/>
	    <BlockNetworkLoads value="0"/>
	    <MixedContentMode value=""/>
	  </Navigation>   
	  
	  <ViewPort>
		<UseWideViewPort value="1"/>
		<ViewPortWidth value="device-width"/>
		<ViewPortInitialScale value="1.0"/>
	  </ViewPort>
    
	  <DeviceKeys>
        <EnableCtrlKey_A    value="1"/>
        <EnableCtrlKey_C    value="1"/>
        <EnableCtrlKey_V    value="1"/>
        <EnableCtrlKey_O    value="0"/>
        <EnableCtrlKey_P    value="0"/>
      </DeviceKeys>
  
      <DefaultMetaTags>
		<!--MetaTag value="QuitButton~visibility:visible;"/-->		
      </DefaultMetaTags>

      <CustomDOMElements value="file://%INSTALLDIR%/mytags.txt"/>
    
    </Application>
  </Applications>
</Configuration>
